In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt # Opcional, para visualiza√ß√µes futuras
import seaborn as sns # Opcional, para visualiza√ß√µes futuras

# Configura√ß√µes opcionais para melhor visualiza√ß√£o no pandas
pd.set_option('display.max_columns', None) # Mostrar todas as colunas
pd.set_option('display.max_colwidth', 100) # Mostrar mais do conte√∫do das colunas de texto
pd.set_option('display.width', 1000) # Aumentar a largura da exibi√ß√£o

In [2]:
# Define o nome do arquivo do dataset
dataset_filename = "vaccination_all_tweets.csv" # << substitua pelo nome exato do seu arquivo

# Constr√≥i o caminho para o dataset
# Assumindo que este notebook est√° em 'analise_tweets_neo4j/notebooks/'
# e o dataset est√° em 'analise_tweets_neo4j/data/'
try:
    notebook_dir = os.getcwd() # Obt√©m o diret√≥rio atual do notebook
    project_root = os.path.dirname(notebook_dir) # Sobe um n√≠vel para a raiz do projeto
    dataset_path = os.path.join(project_root, 'data', dataset_filename)

    print(f"Tentando carregar o dataset de: {dataset_path}")

    # Tenta carregar com UTF-8
    df = pd.read_csv(dataset_path, encoding='utf-8', low_memory=False)
    print(f"\nDataset '{dataset_filename}' carregado com sucesso usando UTF-8.")

except FileNotFoundError:
    print(f"ERRO: Arquivo n√£o encontrado em '{dataset_path}'.")
    print("Verifique se o nome do arquivo est√° correto e se ele est√° na pasta 'data/' na raiz do projeto.")
    df = None
except UnicodeDecodeError:
    print(f"AVISO: Falha ao decodificar '{dataset_filename}' com UTF-8. Tentando com latin1...")
    try:
        df = pd.read_csv(dataset_path, encoding='latin1', low_memory=False)
        print(f"Dataset '{dataset_filename}' carregado com sucesso usando latin1.")
    except Exception as e_latin1:
        print(f"ERRO: N√£o foi poss√≠vel carregar o dataset com latin1. Erro: {e_latin1}")
        df = None
except Exception as e_general:
    print(f"ERRO: Ocorreu um problema inesperado ao carregar o dataset. Erro: {e_general}")
    df = None

if df is not None:
    print(f"N√∫mero de linhas: {df.shape[0]}, N√∫mero de colunas: {df.shape[1]}")

Tentando carregar o dataset de: C:\Users\Alex_\OneDrive\√Årea de Trabalho\analise_tweets_neo4j\data\vaccination_all_tweets.csv

Dataset 'vaccination_all_tweets.csv' carregado com sucesso usando UTF-8.
N√∫mero de linhas: 33717, N√∫mero de colunas: 16

In [3]:
if df is not None:
    print("--- Primeiras 5 linhas (head) ---")
    display(df.head()) # 'display()' √© prefer√≠vel a 'print()' para DataFrames em Jupyter
else:
    print("Dataset n√£o carregado. N√£o √© poss√≠vel mostrar o head.")

--- Primeiras 5 linhas (head) ---

                    id             user_name              user_location                                                                                     user_description         user_created  user_followers  user_friends  user_favourites  user_verified                 date                                                                                                 text                                                                             hashtags               source  retweets  favorites  is_retweet
0  1340539111971516416            Rachel Roh  La Crescenta-Montrose, CA  Aggregator of Asian American news; scanning diverse sources 24/7/365. RT's, Follows and 'Likes' ...  2009-04-08 17:52:46             405          1692             3247          False  2020-12-20 06:06:44    Same folks said daikon paste could treat a cytokine storm #PfizerBioNTech https://t.co/xeHhIMg1kF                                                                   ['PfizerBioNTech']  Twitter for Android         0          0       False
1  1338158543359250433           Albert Fong          San Francisco, CA  Marketing dude, tech geek, heavy metal & '80s music junkie. Fascinated by meteorology and all th...  2009-09-21 15:27:30             834           666              178          False  2020-12-13 16:27:13  While the world has been on the wrong side of history this year, hopefully, the biggest vaccinat...                                                                                  NaN      Twitter Web App         1          1       False
2  1337858199140118533              eliüá±üáπüá™üá∫üëå                   Your Bed                                                                                       heil, hydra üñê‚ò∫  2020-06-25 23:30:28              10            88              155          False  2020-12-12 20:33:45  #coronavirus #SputnikV #AstraZeneca #PfizerBioNTech #Moderna #Covid_19 Russian vaccine is create...  ['coronavirus', 'SputnikV', 'AstraZeneca', 'PfizerBioNTech', 'Moderna', 'Covid_19']  Twitter for Android         0          0       False
3  1337855739918835717         Charles Adler     Vancouver, BC - Canada  Hosting "CharlesAdlerTonight" Global News Radio Network. Weeknights 7 Pacific-10 Eastern - Email...  2008-09-10 11:28:53           49165          3933            21853           True  2020-12-12 20:23:59  Facts are immutable, Senator, even when you're not ethically sturdy enough to acknowledge them. ...                                                                                  NaN      Twitter Web App       446       2129       False
4  1337854064604966912  Citizen News Channel                        NaN  Citizen News Channel bringing you an alternative news source from citizen journalists that haven...  2020-04-23 17:58:42             152           580             1473          False  2020-12-12 20:17:19  Explain to me again why we need a vaccine @BorisJohnson @MattHancock #whereareallthesickpeople #...                                       ['whereareallthesickpeople', 'PfizerBioNTech']   Twitter for iPhone         0          0       False

In [4]:
if df is not None:
    print("--- Informa√ß√µes do DataFrame (info) ---")
    df.info()
else:
    print("Dataset n√£o carregado.")

--- Informa√ß√µes do DataFrame (info) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33717 entries, 0 to 33716
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                33717 non-null  int64
 1   user_name         33717 non-null  object
 2   user_location     25937 non-null  object
 3   user_description  31401 non-null  object
 4   user_created      33717 non-null  object
 5   user_followers    33717 non-null  int64
 6   user_friends      33717 non-null  int64
 7   user_favourites   33717 non-null  int64
 8   user_verified     33717 non-null  bool
 9   date              33717 non-null  object
 10  text              33717 non-null  object
 11  hashtags          26543 non-null  object
 12  source            33689 non-null  object
 13  retweets          33717 non-null  int64
 14  favorites         33717 non-null  int64
 15  is_retweet        33717 non-null  bool
dtypes: bool(2), int64(6), object(8)
memory usage: 3.7+ MB

In [5]:
if df is not None:
    print("--- Nomes das Colunas ---")
    colunas = list(df.columns)
    print(colunas)
else:
    print("Dataset n√£o carregado.")

--- Nomes das Colunas ---
['id', 'user_name', 'user_location', 'user_description', 'user_created', 'user_followers', 'user_friends', 'user_favourites', 'user_verified', 'date', 'text', 'hashtags', 'source', 'retweets', 'favorites', 'is_retweet']

In [6]:
if df is not None:
    print("--- Tipos de Dados (dtypes) ---")
    print(df.dtypes)
else:
    print("Dataset n√£o carregado.")

--- Tipos de Dados (dtypes) ---
id                   int64
user_name           object
user_location       object
user_description    object
user_created        object
user_followers       int64
user_friends         int64
user_favourites      int64
user_verified         bool
date                object
text                object
hashtags            object
source              object
retweets             int64
favorites            int64
is_retweet            bool
dtype: object

In [7]:
if df is not None:
    print("--- Estat√≠sticas Descritivas para Colunas Num√©ricas (describe) ---")
    display(df.describe())

    print("\n--- Estat√≠sticas Descritivas para Todas as Colunas (describe(include='all')) ---")
    display(df.describe(include='all'))
else:
    print("Dataset n√£o carregado.")

--- Estat√≠sticas Descritivas para Colunas Num√©ricas (describe) ---

                 id  user_followers   user_friends  user_favourites      retweets     favorites
count  3.371700e+04    3.371700e+04   33717.000000     3.371700e+04  33717.000000  33717.000000
mean   1.363738e+18    1.140727e+05    1309.834890     1.470721e+04      3.257971     14.271673
std    8.433470e+15    8.969670e+05    6193.351699     4.107015e+04     35.627564    195.005028
min    1.337728e+18    0.000000e+00       0.000000     0.000000e+00      0.000000      0.000000
25%    1.360706e+18    1.190000e+02     141.000000     3.410000e+02      0.000000      0.000000
50%    1.366273e+18    5.750000e+02     418.000000     2.077000e+03      0.000000      1.000000
75%    1.369708e+18    2.957000e+03    1189.000000     1.093500e+04      1.000000      4.000000
max    1.373215e+18    1.487950e+07  380428.000000     1.205878e+06   2360.000000  22815.000000

--- Estat√≠sticas Descritivas para Todas as Colunas (describe(include='all')) ---

                  id          user_name user_location                                                                                     user_description         user_created  user_followers   user_friends  user_favourites user_verified                 date                                                                                                 text     hashtags           source      retweets     favorites is_retweet
count   3.371700e+04              33717         25937                                                                                                31401                33717    3.371700e+04   33717.000000     3.371700e+04         33717                33717                                                                                                33717        26543            33689  33717.000000  33717.000000      33717
unique           NaN              19169          7259                                                                                                18259                19370             NaN            NaN              NaN             2                33381                                                                                                33690        12782              149           NaN           NaN          1
top              NaN  Workout Solutions         India  George Tsanis ‚Äì Workout Solutions Health and Fitness Consultants since 1996 ‚Äì One-on-one and onl...  2010-09-20 17:01:08             NaN            NaN              NaN         False  2021-03-02 23:02:10  #Covid19 Vaccine Rollout Needs Spark Even More Innovation https://t.co/EBaYqJexm1 #Ergotron #Vac...  ['Covaxin']  Twitter Web App           NaN           NaN      False
freq             NaN                402           988                                                                                                  402                  402             NaN            NaN              NaN         29729                    4                                                                                                    5         1415            10930           NaN           NaN      33717
mean    1.363738e+18                NaN           NaN                                                                                                  NaN                  NaN    1.140727e+05    1309.834890     1.470721e+04           NaN                  NaN                                                                                                  NaN          NaN              NaN      3.257971     14.271673        NaN
std     8.433470e+15                NaN           NaN                                                                                                  NaN                  NaN    8.969670e+05    6193.351699     4.107015e+04           NaN                  NaN                                                                                                  NaN          NaN              NaN     35.627564    195.005028        NaN
min     1.337728e+18                NaN           NaN                                                                                                  NaN                  NaN    0.000000e+00       0.000000     0.000000e+00           NaN                  NaN                                                                                                  NaN          NaN              NaN      0.000000      0.000000        NaN
25%     1.360706e+18                NaN           NaN                                                                                                  NaN                  NaN    1.190000e+02     141.000000     3.410000e+02           NaN                  NaN                                                                                                  NaN          NaN              NaN      0.000000      0.000000        NaN
50%     1.366273e+18                NaN           NaN                                                                                                  NaN                  NaN    5.750000e+02     418.000000     2.077000e+03           NaN                  NaN                                                                                                  NaN          NaN              NaN      0.000000      1.000000        NaN
75%     1.369708e+18                NaN           NaN                                                                                                  NaN                  NaN    2.957000e+03    1189.000000     1.093500e+04           NaN                  NaN                                                                                                  NaN          NaN              NaN      1.000000      4.000000        NaN
max     1.373215e+18                NaN           NaN                                                                                                  NaN                  NaN    1.487950e+07  380428.000000     1.205878e+06           NaN                  NaN                                                                                                  NaN          NaN              NaN   2360.000000  22815.000000        NaN

In [8]:
if df is not None:
    print("--- Formato (shape) [Linhas, Colunas] ---")
    print(df.shape)
else:
    print("Dataset n√£o carregado.")

--- Formato (shape) [Linhas, Colunas] ---
(33717, 16)

In [9]:
if df is not None:
    print("--- Valores Ausentes por Coluna (isnull().sum()) ---")
    valores_ausentes = df.isnull().sum()
    print(valores_ausentes[valores_ausentes > 0].sort_values(ascending=False)) # Mostra apenas colunas com valores ausentes
else:
    print("Dataset n√£o carregado.")

--- Valores Ausentes por Coluna (isnull().sum()) ---
user_location       7780
hashtags            7174
user_description    2316
source                28
dtype: int64

In [10]:
if df is not None:
    # TENTATIVA DE IDENTIFICAR A COLUNA DE TEXTO (substitua se souber o nome exato)
    nomes_comuns_coluna_texto = ['text', 'tweet', 'full_text', 'content', 'Tweet Text', 'Tweet', 'Text']
    coluna_texto_identificada = None
    for nome_col in nomes_comuns_coluna_texto:
        if nome_col in df.columns:
            coluna_texto_identificada = nome_col
            print(f"Coluna de texto identificada heuristicamente como: '{coluna_texto_identificada}'")
            break
    
    if coluna_texto_identificada:
        print(f"\n--- Amostra da coluna '{coluna_texto_identificada}' (primeiras 5 e algumas aleat√≥rias) ---")
        display(df[coluna_texto_identificada].head())
        if len(df) > 10: # S√≥ pega amostra aleat√≥ria se tiver mais de 10 tweets
            display(df[coluna_texto_identificada].sample(5))
    else:
        print("\nAVISO: Coluna de texto principal n√£o identificada automaticamente.")
        print("Por favor, inspecione a lista de colunas (C√©lula 5) e substitua 'nome_da_sua_coluna_de_texto' no c√≥digo para explor√°-la.")

    # Explore outras colunas que parecem relevantes, por exemplo, de usu√°rio ou data:
    # Exemplo: coluna_usuario = 'user_screen_name' # Substitua pelo nome real
    # if coluna_usuario in df.columns:
    #     print(f"\n--- Amostra da coluna '{coluna_usuario}' ---")
    #     display(df[coluna_usuario].head())
    #     print(f"Valores √∫nicos (aproximado): {df[coluna_usuario].nunique()}")
    
    # Exemplo: coluna_data = 'created_at' # Substitua pelo nome real
    # if coluna_data in df.columns:
    #     print(f"\n--- Amostra da coluna '{coluna_data}' ---")
    #     display(df[coluna_data].head())
    #     # Tente converter para datetime para ver se o formato √© reconhecido
    #     try:
    #         df['data_convertida_teste'] = pd.to_datetime(df[coluna_data])
    #         print("Teste de convers√£o para datetime bem-sucedido.")
    #         display(df['data_convertida_teste'].head())
    #     except Exception as e_date:
    #         print(f"N√£o foi poss√≠vel converter a coluna de data automaticamente para datetime. Erro: {e_date}")
    #         print("Voc√™ pode precisar especificar o formato em pd.to_datetime(df[coluna_data], format='%Y-%m-%d %H:%M:%S')")

else:
    print("Dataset n√£o carregado.")

Coluna de texto identificada heuristicamente como: 'text'

--- Amostra da coluna 'text' (primeiras 5 e algumas aleat√≥rias) ---

0      Same folks said daikon paste could treat a cytokine storm #PfizerBioNTech https://t.co/xeHhIMg1kF
1    While the world has been on the wrong side of history this year, hopefully, the biggest vaccinat...
2    #coronavirus #SputnikV #AstraZeneca #PfizerBioNTech #Moderna #Covid_19 Russian vaccine is create...
3    Facts are immutable, Senator, even when you're not ethically sturdy enough to acknowledge them. ...
4    Explain to me again why we need a vaccine @BorisJohnson @MattHancock #whereareallthesickpeople #...
Name: text, dtype: object

9482     EU COMMISSION SAYS IT HAS REACHED NEW DEAL WITH MODERNA FOR THE SUPPLY OF 300 MLN COVID-19 VACCI...
25834                       #Covaxin being given to poor people in govt hospitals. #IndiaFightsCorona #india
19516    Why taking the #COVID19Vaccine jab by the XYZ politicians are #BreakingNews ? Well, the @PMOIndi...
4140     As promised, my daughter @JenniferNovakMD received the covid vaccine shot number one with no iss...
855      Happy tears ! Got my first dose of Pfizer vaccine today. The only reaction it gave was JOY !#Cov...
Name: text, dtype: object